.boxe {
width:80%;
height:8em;
border:black 1px solid;
background-color:green;
}

.boxr {
width: 80%;
height:8em;
border:black 0px solid;
background-color:red;
/* position & top, set the location */
position:absolute;
top:1.3em; /* This is for the space at the top */
right:-80%;
/*  */
/* */
transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
}

.box-slide {right:0%; border-width:1px;}
